<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redistrictinator</title>
    <style>
        #map {
            height: 700px;
            width: 900px;
        }
    </style>
</head>
<body>
    <form name="display" action="{{ url_for('my_link') }}" method='POST'>
        <input type="submit" value="Start Over" onclick="" />
    </form>
    <div id="map"></div>
    <script>

        var map;
        var state;
        var num_districts;
        var districts;
        var zips;
        var largest_zips;
        var zoom_num;
        var center_lat;
        var center_long;
        var district_coordinates;
        var infoWindow;
        var zip_polys = {};
        var districts_pops;

        function initMap() {
            states = {'AL' : [7, 32.806671, -86.791130],
                      'AR' : [7, 34.969704, -92.373123],
                      'AZ' : [7, 33.972422, -111.431221],
                      'CA' : [6, 36.116203, -119.681564],
                      'CO' : [7, 39.059811, -105.311104],
                      'CT' : [9, 41.597782, -72.755371],
                      'DE' : [9, 39.1111111, -75.507141],
                      'FL' : [7, 27.766279, -81.686783],
                      'GA' : [7, 33.040619, -83.643074],
                      'ID' : [6, 44.240459, -114.478828],
                      'IL' : [7, 39.900001, -88.986137],
                      'IN' : [7, 39.849426, -86.258278],
                      'IA' : [7, 42.011539, -93.210526],
                      'KS' : [7, 38.526600, -97.532345],
                      'KY' : [7, 37.668140, -84.670067],
                      'LA' : [7, 31.169546, -91.867805],
                      'ME' : [7, 45.000001, -69.381927], 
                      'MD' : [8, 39.084000, -77.152800], 
                      'MA' : [8, 42.230171, -71.530106],
                      'MI' : [7, 43.326618,	-84.536095],
                      'MN' : [6, 45.694454,	-93.900192],
                      'MS' : [7, 32.741646,	-89.678696],
                      'MO' : [7, 38.456085,	-92.288368],
                      'MT' : [6, 46.921925,	-110.454353],
                      'NE' : [7, 41.125370,	-99.268082],
                      'NV' : [6, 38.313515,	-117.055374],
                      'NH' : [8, 43.986254,	-71.563896],
                      'NJ' : [8, 40.298904,	-74.521011],
                      'NM' : [7, 34.000001,	-106.248482],
                      'NY' : [7, 43.048111,	-76.147411],
                      'NC' : [7, 35.630066,	-79.806419],
                      'ND' : [7, 47.528912,	-99.784012],
                      'OH' : [7, 40.388783,	-82.764915],
                      'OK' : [7, 35.565342,	-96.928917],
                      'OR' : [6, 44.572021,	-122.070938],
                      'PA' : [7, 40.590752,	-77.209755],
                      'RI' : [9, 41.680893,	-71.511780],
                      'SC' : [7, 33.856892,	-80.945007],
                      'SD' : [7, 44.299782,	-99.438828],
                      'TN' : [7, 35.747845,	-86.692345],
                      'TX' : [6, 31.054487,	-97.563461],
                      'UT' : [7, 39.705778,	-111.862434],
                      'VT' : [8, 44.045876,	-72.710686],
                      'VA' : [7, 37.769337,	-79.169968],
                      'WA' : [7, 47.400902,	-121.490494],
                      'WV' : [7, 38.491226,	-80.954453],
                      'WI' : [7, 44.768543,	-89.616508],
                      'WY' : [7, 42.755966,	-107.302490],
                    };
            state = '{{ state }}';
            num_districts = '{{ num_districts }}';
            districts = JSON.parse('{{ districts|safe }}');
            zips = JSON.parse('{{ zips|safe }}');
            largest_zips = JSON.parse('{{ largest_zips|safe }}');
            districts_pops = JSON.parse('{{ districts_pops|safe }}');
                
            zoom_num = states[state][0];
            center_lat = states[state][1];
            center_long = states[state][2];

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: zoom_num,
                center: {lat: center_lat, lng: center_long},
            });

            
            district_coordinates = [];
            for (i = 0; i < num_districts; i++){
                var district_zips = districts['District ' + (i+1)];

                var single_coords = [];

                for (x = 0; x < district_zips.length; x++){
                    var boundary_list = [];
                    var boundary = zips[district_zips[x]];
                    
                    for (t = 0; t < boundary.length; t++){
                        boundary_list.push(boundary[t].slice(0,-4));
                    }
                    
                    single_coords.push(boundary_list);
                }

                district_coordinates.push(single_coords);
            }

            var polygons = [];
            colors = ['#FF0000', '#0078FF', '#663300', '#ffff00', '#009900', '#660066', '#ff9900', '#ff99ff'];

            for (i = 0; i < district_coordinates.length; i++){

                var shapeCoords = [];

                for (x = 0; x < district_coordinates[i].length; x++){
                    var temp = [];
                    for (z = 0; z < district_coordinates[i][x].length; z++){
                        var parts = district_coordinates[i][x][z].split(',');
                        temp2 = {lat: parseFloat(parts[1]), lng: parseFloat(parts[0])};
                        temp.push(temp2);
                    }
                    shapeCoords.push(temp);
                }
            
                zip_polys['District ' + (i+1)] = shapeCoords;

                // Construct the polygon.
                polygons.push(new google.maps.Polygon({
                    paths: shapeCoords,
                    strokeColor: colors[i],
                    strokeOpacity: 0.8,
                    strokeWeight: 0,
                    fillColor: colors[i],
                    fillOpacity: 0.5
                }));
  
                polygons[i].setMap(map);

                polygons[i].addListener('mouseover', function() {
                    var vertices = this.getPath();
                    var district_id;

                    for (f = 0; f < num_districts; f++){
                        arr = zip_polys['District ' + (f+1)];

                        for (d = 0; d < arr.length; d++){

                            for (j = 0; j < arr[d].length; j++){

                                var l_lat = arr[d][j]['lat'];
                                var l_lng = arr[d][j]['lng'];

                                for (h = 0; h < vertices.getLength(); h++){
                                    verts = vertices.getAt(h);

                                    if ((l_lat == verts.lat()) && (l_lng == verts.lng())){
                                        district_id = 'District ' + (f+1);
                                    }
                                }
                            }
                        }
                    }
                    if (typeof largest_zips[district_id] == 'undefined'){
                        console.log('Undefined here');
                        console.log('District id: ' + district_id);
                    }
                    console.log(district_id);
                    var lst = largest_zips[district_id];
                    var l_zip = lst[0];
                    var coords = lst[1];
                    var highest = {lat: coords[0], lng: coords[1]};

                    var contentString = district_id + '<br><br>Largest zip code in district:<br>' + l_zip.toString() +
                    '<br><br> Total population:<br>' + districts_pops[district_id];
                    
                    infoWindow.setContent(contentString);
                    infoWindow.setPosition(highest);
                    infoWindow.open(map);
                });
            }

            infoWindow = new google.maps.InfoWindow;
        }

        function hideArrays(event) {
            //infoWindow.close();
        }

        function showArrays(event) {
            infoWindow.setContent('District 1');
            infoWindow.setPosition(event.latLng);
            infoWindow.open(map);
        }
        
    </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB154Xg4SR9Fjq9o-ty7ZZXLpumsDrOgKw&callback=initMap"></script>
    </body>
</html>