<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropdown</title>
    <style>
        #map {
            height: 700px;
            width: 900px;
        }
    </style>
</head>
<body>
    <form name="dropdowns" action="{{ url_for('index') }}" method='POST'>
            <select name='state_dropdown' method="GET" action="/">
                <option selected>AL</option>
                {% for state in states %}
                <option value= "{{state}}">{{ state }}</option>"
                {% endfor %}         
            </select>

            <select name='number_dropdown' method="GET" action="/">
                <option selected>1</option>
                {% for number in numbers %}
                <option value= "{{number}}">{{ number }}</option>"
                {% endfor %}        
            </select>
        <input type='submit' value='Generate'>
    </form>

    <div id="map"></div>
    <script>
        function initMap() {
            var maryland = {lat: 39.0840, lng: -77.1528};
            //lat: 39.0840, lng: -77.1528
            // NY: lat: 43.0481, lng: -76.1474
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
            center: maryland
            });
            var line65 = new google.maps.Polyline({
                path: [new google.maps.LatLng(38.498399,-76.700066),new google.maps.LatLng(38.5025,-76.707928),new google.maps.LatLng(38.4837,-76.853543),new google.maps.LatLng(38.527453,-76.901739),new google.maps.LatLng(38.550355,-76.814234),new google.maps.LatLng(38.559242,-76.740743),new google.maps.LatLng(38.54557,-76.701775),new google.maps.LatLng(38.498399,-76.700066)],
                strokeColor: "#FF0000",
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map
            });
          
            var line66 = new google.maps.Polyline({
                path: [new google.maps.LatLng(38.902428,-76.735615),new google.maps.LatLng(38.946523,-76.750655),new google.maps.LatLng(38.950625,-76.750655),new google.maps.LatLng(38.955752,-76.693914),new google.maps.LatLng(38.907556,-76.672721),new google.maps.LatLng(38.902428,-76.735615)],
                strokeColor: "#0078FF",
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB154Xg4SR9Fjq9o-ty7ZZXLpumsDrOgKw&callback=initMap"></script>
</body>
</html>