<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>The Redi</title>
        <link rel ="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel ="stylesheet" href= "{{ url_for('static',filename='styles/common.css') }}">
        <link rel ="stylesheet" href= "{{ url_for('static',filename='styles/common2.css') }}">        
    </head>
    <body>
        <div id = "header">
            <c href ='/'>
                <i id = "homeIcon" class="material-icons" onclick='goHome()'>home</i>
            </c>
            <a href='redistrictinator.me/about'>
                <button id = "about">About</button>
            </a>
            <b href='redistrictinator.me/tutorial'>
                <button id = "tutorial">Tutorial</button>
            </b>
        </div>
        <div>
            <p id="title">Gerrymandering</p>
        </div>
        
    </body>
</html>